.header.navbar {
    --bs-navbar-padding-y: 24px;
    .header-btn {
        --bs-btn-padding-x: 24px;
        --bs-btn-font-size: 12px;
        --bs-btn-font-weight: 600;
        &.button-secondary {
            --bs-btn-bg: var(--bs-body-bg);
        }
    }
    .theme-btn {
        .theme-btn-dark {
            display: none;
        }
        [data-bs-theme="dark"] & {
            .theme-btn-dark {
                display: block;
            }
            .theme-btn-light {
                display: none;
            }
        }
    }
}