.section {
    padding: 0 0 30px;
    .section-title {
        font-weight: 400;
        font-size: 22px;
        margin: 0 0 20px;
        padding: 30px 0 20px;
        // position: sticky;
        // top: 0;
        // z-index: 1;
        // background-color: var(--bs-body-bg);
    }
}