.content-wrapper,
.side-profile-wrapper {
    padding: 100px 0;
}
.side-profile-wrapper {
    @media (max-width: 768px) {
        padding: 100px 0 50px;
    }
}
.content-wrapper {
    @media (max-width: 768px) {
        padding: 0;
    }
}
.side-profile-wrapper {
    position: sticky;
    top: 0;
}